.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: aliceblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.result-container {
  overflow-y: auto;
  max-height: 80vh;
}

.result-container .sub-heading {
  color: lightslategray;
}

.cft-result-row {
  border: 0.5rem solid lightslategray;
  border-radius: 1rem;
  padding: 1rem;
  color: navy;
  margin: 0.25rem;
}

.error {
  border: 0.5rem solid firebrick;
  font-weight: bolder;
  color: black;
}
